@{
    ViewBag.Title = "Login Failure";
}
<section id="blog" class="white-bg padding-top-bottom-short">
    <hgroup>
        <h2>@ViewBag.Title.</h2>
        <h3 class="text-danger">Unsuccessful login with service.</h3>
    </hgroup>
</section>