  .rap {
        height: 50px;
        max-height: 50px;
       
    }

   th,td {
        line-height: normal;
        font-size: 12px;
    }
   p{
       line-height: normal;
        font-size: 12px;
        margin-bottom: 10px;
   }

   .font80{
       font-size:80%
   }
   
